.footer {
  background-color: #F2F2F2;
}

.footer__row {
  @include row();
  align-items: center;
}

.footer__col--12 {
  @include col(xs, 12);
}

.footer__col--md-4 {
  @include col(md, 4);
}

.footer__top--index {
  background-color: #fff;
}

.footer__bottom {
  @media (min-width: $screen-md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer__contacts {
  @media (min-width: $screen-xl) {
    display: none;
  }
}

.footer__logo-wrapper {
  display: block;
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $screen-md) {
    text-align: left;
    padding: 0;
    border: none;
  }
}

.footer__social {
  width: 130px;
  padding: 20px 0;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    padding: 0;
  }
}

.footer__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $screen-md) {
    justify-content: flex-end;
    padding: 0;
    border: none;
  }
}

.footer__credits {
  @media (min-width: $screen-md) {
    margin-right: 20px;
  }
}