// Style plagin
@import "variables";

// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

// Default styles

@import "grid-mixins";

@import "functions";

@import "fonts";
@import "global";

@import "../blocks/components/burger/burger.scss";
@import "../blocks/components/main-nav/main-nav.scss";
@import "../blocks/components/menu/menu.scss";

@import "../blocks/project/page-header/page-header";
@import "../blocks/project/page-footer/page-footer";
@import "../blocks/project/order-page/order-page";

// My styles

// ========================== BASIC STYLES =============================== //

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-size: 2.5rem;
    line-height: 1em;
    font-weight: 400;
    margin: 0;
    color: black;

    @media (min-width: $screen-md) {
        font-size: 3.75rem;
    }
}

.text {
    font-family: 'Arial', sans-serif;
}

.link {
    color: inherit;
    text-decoration: none;

    &__icon {
        margin-left: 1.3em;
    }
}

.uppertext {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.logo {

    &-mobile-text {
        @media (min-width: $screen-md) {
            display: none;
        }
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    @include ul-none();

    &__item {

        @media (min-width: $screen-md) {
            position: relative;

            &--counter {
                counter-increment: numb;
    
                &::after {
                    content: counter(numb);
                    position: absolute;
                    left: 130px;
                    bottom: 0;
                    color: $grey-basic;
                    font-size: 280px;
                    line-height: 280px;
                    z-index: -1;
                }

                &:first-child {

                    &::after {
                        left: 140px;
                    }
                }
            }
        }
    }
}

.icon-container {
    position: relative;
    background-color: $green-basic;

    &__icon {
        position: absolute;

        &--slim {
            bottom: 5%;
            @include makeSqr(100%);
        }

        &--pro {
            max-width: 130%;
            top: 25%;
            right: -10%;

            @media (min-width: $screen-md) {
                width: 268px;
                max-width: 268px;
                top: 23%;
                right: -17%;
            }

            @media (min-width: $screen-xl) {
                max-width: 130%;
                top: 25%;
                right: -10%;
            }
        }
    }

    &--leaf {
        background-image: url('../img/cat-energy-img/icon_leaf.svg');
    }

    &--tub {
        background-image: url('../img/cat-energy-img/icon_tub.svg');
    }

    &--eat {
        background-image: url('../img/cat-energy-img/icon_eat.svg');
    }

    &--alarm {
        background-image: url('../img/cat-energy-img/icon_alarm.svg');
    }

    &--round {
        border-radius: 100%;
    }
}

// ========================== PAGE-HEADER =============================== //

.page-header {
    position: relative;
    padding-top: 3.13%;
    padding-bottom: 3.13%;

    &__inner {
        @include container();
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: $screen-xl) {
        position: absolute;
        width: 100%;
    }
    
    &__logo {
        display: inline-block;
        height: 2.85em;
        width: 2.42em;
        background-image: url('../img/cat-energy-img/logo-mobile.svg');
        @include makeBgCenter(contain);
    
        @media(min-width: $screen-md) {
            width: 10em;
            background-image: url('../img/cat-energy-img/logo-tablet.svg');
        }
    
        @media(min-width: $screen-lg) {
            background-image: url('../img/cat-energy-img/logo-desktop.svg');
        }
    }
}

// ========================== PROMO =============================== //

.promo {
    position: relative;
    
    @media (min-width: $screen-xl) {
        display: flex;
        align-items: center;
    }
    
    &__content-wrapper {
        @media (min-width: $screen-xl) {
            // flex-basis: 49.99%;
            width: 42.36%;
            margin-left: auto;
        }
    }

    &__content {
        @include container();
        position: relative;
        color: white;
        text-align: center;

        @media (min-width: $screen-md) {
            color: black;
            text-align: left;
            padding-left: 15.63%;
            padding-right: 15.63%;
        }

        @media (min-width: $screen-xl) {
            position: relative;
            max-width: 415px;
            padding: 0;
            margin: 0 auto;
        }
    }

    &__title {
        color: white;
        padding-top: 8.33%;
        transition: $transition-time;

        @media (min-width: $screen-md) {
            color: black;
            max-width: 415px;
        }

        @media (min-width: $screen-xl) {
            padding-top: 0;
        }
    }

    &__uppertext {
        margin: 7.81% 0;
        transition: $transition-time;
    }

    &__image {

        @media (min-width: $screen-xl) {
            position: absolute;
            margin: 0;
            top: -25%;
            left: 85%;
            max-width: 38.33vw;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 70%;
        z-index: -1;

        @media(min-width: $screen-md) {
            height: 0;
        }

        @media (min-width: $screen-xl) {
            position: relative;
            height: 690px;
            flex-basis: 49.99%;
        }
    }

    &__btn {
        padding: .5rem 0;
        background-color: $green-basic;
        width: 100%;

        @media(min-width: $screen-md) {
            position: absolute;
            top: 37%;
            left: 15.5vw;
            max-width: 200px;
        }

        @media (min-width: $screen-xl) {
            position: static;
        }
    }

    &__bg-image {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url('../img/cat-energy-img/index-bg-desktop.jpg');
        background-size: cover;
        background-position: 65%;
        background-repeat: no-repeat;

        @media (min-width: $screen-xl) {
            background-position: 0%;
        }

        &::before {
            content: '';
            position: absolute;
            @include makeFullscaled();
            background-color: $green-basic;
            opacity: .85;
        }
    }
}

// ========================== GOAL =============================== //

.goal {
    @include container();
    padding-top: 6.25%;

    &__row {
        @include row();
    }

    &__col {
        @include make-col(12);
        margin-bottom: 25px;

        @media (min-width: $screen-xl) {
            @include make-col(6);
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $offset-mobile;
    background-color: $grey-basic;

    &__title {
        font-size: 1.5rem;
        padding: 0;
        text-transform: uppercase;

        @media (min-width: $screen-md) {
            font-size: 2.25rem;
        }
    }

    &__text {
        padding: 1.42em 0;
    }

    &__icon-container {
        @include makeSqr(50px);
        margin-right: $offset-mobile;

        @media (min-width: $screen-md) {
            float: right;
            margin-right: 10px;
            @include makeSqr(200px);
        }

        @media (min-width: $screen-xl) {
            @include makeSqr(100px);
            margin-right: 60px;
            float: none;
        }
    }

    &__uppertext {
        display: flex;
        align-items: center;
        color: black;
        line-height: 1em;
    }

    @media (min-width: $screen-md) and (max-width: $screen-xl) {
        display: block;
    }

    @media (max-width: $screen-md - 1) {
        &__text {
            border-bottom: 1px solid #d9d9d9;
        }
    }

    @media (min-width: $screen-md) and (max-width: $screen-xl) {
        &__text {
            max-width: 377px;
        }
    }
}

// ========================== ADVANTAGES =============================== //

.advantages {
    @include container();


    &__title {
        padding: 30px 0;

        @media (min-width: $screen-md) {
            padding-top: 45px;
        }

        @media (min-width: $screen-xl) {
            padding-top: 70px;
        }
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (min-width: $screen-md) {
            max-width: 250px;
        }
    }

    &__icon-container {
        @include makeSqr(60px);
        @include makeBgCenter(50%);

        @media (min-width: $screen-md) {
            @include makeSqr(80px);
        }
    }

    &__text {
        flex-basis: 64.29%;
        flex-grow: 1;
        margin-left: $offset-mobile;
        margin-bottom: 0;

        @media (min-width: $screen-md) {
            flex-basis: 100%;
            margin-left: 0;
            margin-top: 30px;
            margin-bottom: 60px;
        }
    }

    &__row {
        @include row();
    }

    &__col {
        @include col(xs, 12);
        margin: 10px 0;

        @media (min-width: $screen-md) {
            @include col(md, 6);
            margin: 40px 0;
        }

        @media (min-width: $screen-xl) {
            @include col(xl, 3);
        }
    }
}

// ========================== DEMONSTRATION =============================== //

.demonstration {
    position: relative;

    @media (min-width: $screen-md) and (max-width: $screen-xl) {
        border-top: 1px solid #e6e6e6;
    }

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #EAEAEA;
        z-index: -1;

        @media (min-width: $screen-md) {
            bottom: 0;
            max-height: 460px;
        }
    }

    &__wrapper {
        @include container();
        padding-top: $offset-mobile-y;
        padding-bottom: $offset-mobile-y;

        @media (min-width: $screen-xl) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__description {
        @media (min-width: $screen-xl) {
            flex-basis: 39%;
        }
    }

    &__interactive {
        @media (min-width: $screen-xl) {
            flex-basis: 49%;
        }
    }

    &__text {
        margin-top: $offset-mobile-y;

        @media (min-width: $screen-xl) {
            margin-top: 60px * 2;
            margin-bottom: 60px;
        }
    }

    &__numbers {
        @media (min-width: $screen-md) {
            margin-bottom: $offset-mobile-y * 2;
        }
    }
}

.numbers {

    &__row {
        @include row();
    }

    &__col {
        @include col(xs, 12);

        @media (min-width: $screen-md) {
            @include col(md, 6);
        }

        @media (min-width: $screen-xl) {
            @include col(xl, 12);
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        justify-content: center;
        flex-basis: 44.64%;
        border: 1px solid $grey-darker;
        border-radius: 3px;
        transform: rotateX(180deg);
    }

    &__number {
        font-size: 1.5rem;
        line-height: 1em;
        color: black;
        padding-top: 15px;
        transform: rotateX(180deg);
    }

    &__text {
        font-size: 13px;
        line-height: 1em;
        text-align: center;
        max-width: 70.16%;
        transform: rotateX(180deg);

        @media (min-width: $screen-md) {
            max-width: 84%;
        }
    }

    &__expenses-container {
        display: flex;
        justify-content: center;
        color: black;
        white-space: pre-wrap;
        margin: $offset-mobile-y 0;

        @media (min-width: $screen-md) {
            justify-content: flex-end;
            flex-wrap: wrap;
            align-items: center;
            height: 100%;
            width: 50%;
            margin: 0;
            margin-left: auto;
        }
    }
}

input[type='range'] {
    width: 85px;

    @media (min-width: $screen-md) {
        width: 430px;
    }
}

.slider {
    &__inner {
        position: relative;
        width: 100%;
        height: 72.5vw;
        max-height: 540px;
    }

    &__slide-wrapper {
        position: absolute;
        height: 100%;
        overflow: hidden;
        transition: $transition-time;
    }

    &__slide {
        @include makeBgCenter(contain);
        width: calc(100vw - 40px);
        height: 100%;

        @media (min-width: $screen-xl) {
            max-width: 48.34vw;
        }

        &--left {
            background-image: url('../img/cat-energy-img/cat-fat.png');
        }

        &--right {
            background-image: url('../img/cat-energy-img/cat-skinny.png');
        }
    }

    &__control-box {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        margin-top: $offset-mobile-y;
    }

    &__control-text {
        line-height: 30px;

        @media (min-width: $screen-md) {
            border-bottom: 1px dashed $grey-darker;

            &:hover {
                cursor: pointer;
                border-bottom-style: solid;
            }

            &:active {
                border-bottom: none;
            }
        }
    }

    &__control {
        margin: 0 12px;

        @media (min-width: $screen-md) {
            margin: 0 24px;
        }

        // стили для ползунка контрола

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            @include makeThumb(34px, 6px, 6px, $green-basic);
            transition: $transition-time;

            @media (min-width: $screen-md) {
                @include makeThumb(34px, 34px, 100%, white);
                @include makeBgCenter(8px);
                // background-position: 50% 48%;
                background-image: url('../img/cat-energy-img/slider-control.svg');
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
                border: 1px solid #cdcdcd;
                margin-top: -15px; //костыль для хрома. в мозилле и ие все ок.

                &:hover {
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
                }

                &:active {
                    border-color: $green-basic;
                    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
                }
            }
        }

        &::-moz-range-thumb {
            @include makeThumb(34px, 6px, 6px, $green-basic);
            transition: $transition-time;

            @media (min-width: $screen-md) {
                @include makeThumb(34px, 34px, 100%, white);
                @include makeBgCenter(8px);
                background-position: center 48%;
                background-image: url('../img/cat-energy-img/slider-control.svg');
                border: 1px solid #cdcdcd;
            }
        }

        &::-ms-thumb {
            @include makeThumb(34px, 6px, 6px, $green-basic);
            transition: $transition-time;

            @media (min-width: $screen-md) {
                @include makeThumb(34px, 34px, 100%, white);
                @include makeBgCenter(8px);
                background-position: center 48%;
                background-image: url('../img/cat-energy-img/slider-control.svg');
                border: 1px solid #cdcdcd;
            }
        }

        // стили для трека, по которому гоняют ползуна

        &::-webkit-slider-runnable-track {
            @include makeTrack(14px, white, 6px, $grey-darker, 3px, 6px);

            @media (min-width: $screen-md) {
                @include makeTrack(6px, #dcdcdc, 6px, transparent, 0, 0);
                position: relative;
            }
        }

        &::-moz-range-track {
            @include makeTrack(14px, white, 6px, $grey-darker, 3px, 6px);

            @media (min-width: $screen-md) {
                @include makeTrack(6px, #dcdcdc, 6px, transparent, 0, 0);
                position: relative;
            }
        }

        &::-ms-track {
            box-sizing: border-box;
            height: 14px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
        }
    }
}

// ========================== CONTACTS =============================== //

.contacts {

    &__inner {
        @include container();
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $offset-mobile-y;
        padding-bottom: $offset-mobile-y;

        @media (min-width: $screen-md) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &__uppertext {
        font-size: 1.1rem;
        line-height: 1.3em;
        color: black;
        margin-bottom: 0;
        margin-left: calc(6.5% - 20px);
        max-width: 10rem;
        flex-basis: 50%;

        @media (min-width: $screen-md) {
            font-size: 1.25rem;
            margin-left: 6.5%;
        }
    }

    &__address {
        max-width: 10rem;
        flex-basis: 50%;
        margin-right: calc(6.5% - 20px);

        @media (min-width: $screen-md) {
            text-align: right;
            margin-right: 6.5%;
        }
    }

    &__text {
        margin-bottom: 0;

        @media (min-width: $screen-md) {
            &:last-child {
                margin-top: 1em;
            }
        }
    }

    &__map {
        @include makeBgCenter(cover);
        background-position: center;
        width: 100%;
        height: 113.13vw;
        max-height: 400px;
        background-image: url('../img/cat-energy-img/map.png');
    }
}

// ========================== PAGE-FOOTER =============================== //

.page-footer {
    background-color: $grey-basic;

    &__wrapper {
        @include container();
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__row {
        @include row();
    }

    &__col {
        @include col(xs, 12);

        @media (min-width: $screen-md) {
            @include col(md, 4);
            display: flex;
            align-items: center;
        }
    }

    &__logo-wrapper {
        display: block;
        text-align: center;
        padding: 30px 0;
        border-bottom: 1px solid #d9d9d9;

        @media (min-width: $screen-md) {
            padding: 0;
            border: none;
        }
    }

    &__social {
        width: 130px;
        padding: 20px 0;
        margin: 0 auto;

        @media (min-width: $screen-md) {
            padding: 0;
        }
    }

    &__author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid #d9d9d9;

        @media (min-width: $screen-md) {
            justify-content: flex-end;
            padding: 0;
            border: none;
        }
    }

    &__credits {
        @media (min-width: $screen-md) {
            margin-right: 20px;
        }
    }
}

.social {
    justify-content: space-between;
    align-items: center;

    &__icon {
        fill: none;
    }
}