// Style plagin
@import "variables";

@import "grid-mixins";

@import "functions";

@import "fonts";
@import "global";

// ========================== BASIC STYLES =============================== //

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    line-height: 1em;
    font-weight: 400;
    margin: 0;
    color: black;
}

.title--section {
    font-size: 2.3rem;

    @media (min-width: $screen-md) {
        font-size: 3.75rem;
    }
}

.text {
    font-family: 'Arial', sans-serif;
}

.uppertext {
    text-transform: uppercase;
}

#trigger > * {
    transition: $time;
}

input[type='range'] {
    width: 85px;

    @media (min-width: $screen-md) {
        width: 430px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper__inner {
    flex: 1 0 auto;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linethrough {
    @include row();
    margin-bottom: 40px;

    @media (min-width: $screen-md) {
        margin-bottom: 90px;
        flex-basis: 100%;
    }
}

.linethrough--ml-0 {
    @media (min-width: $screen-md) and (max-width: $screen-xl) {
        margin-left: 0;
    }
}

.linethrough--mb-70px {
    @media (max-width: $screen-md) {
        margin-bottom: 70px;
    }
}

.linethrough__title {
    position: absolute;
    top: -.7em;
    width: auto;
    max-width: 230px;
    font-size: 1.5rem;
    line-height: 1.08em;
    background-color: #fff;
    padding: 0 20px;

    @media (min-width: $screen-md) {
        font-size: 2.25rem;
        max-width: 100%;
    }
}

@import "../blocks/components/logo/logo.scss";
@import "../blocks/components/btn/btn.scss";
@import "../blocks/components/burger/burger.scss";
@import "../blocks/components/main-nav/main-nav.scss";
@import "../blocks/components/menu/menu.scss";
@import "../blocks/components/list/list.scss";
@import "../blocks/components/icon-container/icon-container.scss";
@import "../blocks/components/card/card.scss";
@import "../blocks/components/advantage/advantage.scss";
@import "../blocks/components/numbers/numbers.scss";
@import "../blocks/components/slider/slider.scss";
@import "../blocks/components/contacts/contacts.scss";
@import "../blocks/components/map/map.scss";
@import "../blocks/components/link/link.scss";
@import "../blocks/components/item/item.scss";
@import "../blocks/components/table/table.scss";
@import "../blocks/components/banner/banner.scss";
@import "../blocks/components/form/form.scss";

@import "../blocks/project/page-header/page-header";
@import "../blocks/project/promo/promo.scss";
@import "../blocks/project/goal/goal.scss";
@import "../blocks/project/advantages/advantages.scss";
@import "../blocks/project/demonstration/demonstration.scss";
@import "../blocks/project/contacts/contacts.scss";
@import "../blocks/project/page-footer/page-footer";
@import "../blocks/project/catalog/catalog.scss";
@import "../blocks/project/extra/extra.scss";
@import "../blocks/project/programm/programm.scss";