.advantages {
  @include container();
}

.advantages__title {
  padding: 1em 0;

  @media (min-width: $screen-md) {
    padding-top: 45px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 70px;
  }
}