.advantages {
  @include container();
}

.advantages__title {
  font-size: 2.5rem;
  padding: 30px 0;

  @media (min-width: $screen-md) {
    font-size: 3.75rem;
    padding-top: 45px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 70px;
  }
}

.advantages__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $screen-md) {
    max-width: 250px;
  }
}

.advantages__icon-container {
  @include makeSqr(60px);
  @include makeBgCenter(50%);

  @media (min-width: $screen-md) {
    @include makeSqr(80px);
  }
}

.advantages__text {
  flex-basis: 64.29%;
  flex-grow: 1;
  margin-left: $offset-mobile;
  margin-bottom: 0;

  @media (min-width: $screen-md) {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.advantages__row {
  @include row();
}

.advantages__col {
  
  @include col(xs, 12);
  margin: 10px 0;

  @media (min-width: $screen-md) {
    @include col(md, 6);
    margin: 40px 0;
  }

  @media (min-width: $screen-xl) {
    @include col(xl, 3);
  }
}