.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $screen-md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.contacts__uppertext {
  font-size: 1.1rem;
  line-height: 1.3em;
  color: black;
  margin-bottom: 0;
  margin-left: 6.5%;
  max-width: 10rem;
  flex-basis: 50%;

  @media (min-width: $screen-md) {
    font-size: 1.25rem;
  }

  @media (min-width: $screen-xl) {
    margin-left: 80px;
  }
}

.contacts__address {
  max-width: 10rem;
  flex-basis: 50%;

  @media (min-width: $screen-md) {
    text-align: right;
    margin-right: 6.5%;
  }

  @media (min-width: $screen-xl) {
    text-align: left;
    margin-right: 90px;
  }
}

.contacts__text {
  margin-bottom: 0;

  @media (min-width: $screen-md) {
    &:last-child {
      margin-top: 1em;
    }
  }
}