-
  var mainMenu = [
    {
      "id": "0",
      "name": "главная",
      "url": "/"
    },
    {
      "id": "1",
      "name": "каталог продукции",
      "url": "/catalog.html",
    },
    {
      "id": "2",
      "name": "подбор программы",
      "url": "/program.html",
    }
  ];
