// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

// @bogdangill: добавил новую переменную для смены сценария отображения меню(настольный вид списка уже на планшете // а не только на десктопе - подгоняю под макет)
$menu-tablet-width:           $screen-md;
$menu-desktop-width:          $screen-lg !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &; // #{$block-name}__element
  text-transform: uppercase;
  z-index: 10;

  &--index {
    color: white;

    @media (min-width: $screen-md) and (max-width: $screen-xl) {
      color: black;
    }
  }

  &--default {
    .main-nav__item--active {

      & > #{$block-name}__link {
        border-bottom-color: $green-basic;
      }
    }
  }

  @media (min-width: $screen-md) {
    width: 57.29%;
    max-width: 480px;
  }

  // первый уровень
  &__list {
    position: absolute;
    top: 100%;
    left: 15px;
    margin: 0;
    padding: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-tablet-width - 1)) {

      width: 90%;

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-tablet-width) {
      position: static;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &--lvl-2 {
        display: block;
      }

      &--lvl-3 {
        display: block;
      }
    }
  }

  &__item {
    position: relative;

    &--active {

      & > #{$block-name}__link {
        opacity: 1;
        border-bottom: 2px solid white;

        @media (min-width: $screen-md) and (max-width: $screen-xl) {
          border-bottom-color: $green-basic;
        }
      }
    }
  }

  &__link {
    display: block;
    color: inherit;
    line-height: 1em;
    padding: 10px 0;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: .7;
    }

    &:active {
      opacity: .3;
    }

    &--lvl-2 {

      @media (max-width: ($menu-tablet-width - 1)) {
        padding-left: 1.2em;
      }
    }

    &--lvl-3 {

      @media (max-width: ($menu-tablet-width - 1)) {
        padding-left: 2.4em;
      }
    }
  }

  &__sublist-wrapper {

    &--lvl-2 {

      @media (min-width: $menu-tablet-width) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }

    &--lvl-3 {

      @media (min-width: $menu-tablet-width) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }
  }



  // переключатель

  &__toggler {
    padding: 0;
    background: none;
    border: none;

    &:focus {
      outline: none;
      height: 2rem;
      border: 1px solid $green-basic;
      border-radius: 5px;
    }

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-tablet-width) {
      display: none;
    }
  }
}
