.item {
  padding-top: 1.42em;

  &--good {
    @include row(0,0,0,0,0,0);
    
    @media (max-width: $screen-md - 1) {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      border-top: 1px solid #EBEBEB;
    }

    @media (min-width: $screen-md) {
      background-color: $grey-basic;
    }
  }

  @media (min-width: $screen-md) {
    padding: 0 35px 20px;
  }

  &--more {
    @media (max-width: $screen-md - 1) {
      padding-left: 20px;
      padding-right: 20px;
      border-top: 1px solid #EBEBEB;
      border-bottom: 1px solid #EBEBEB;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      min-height: 410px;
      border: 2px solid #F2F2F2;
    }
  }

  &--extra {
    padding: 1em 0 0 0;

    @media (min-width: $screen-md) {
      padding: 25px 35px 0 35px;
      border: none;
    }

    @media (min-width: $screen-xl) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
    }
  }
}

.item__img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.item__img-wrapper--good {
  @include col(xs, 6, 12, 0);
  margin: auto;

  @media (min-width: $screen-md) {
    @include col(md, 12, 12, 0);
  }
}

.item__img {

  &--small {
    max-width: 60%;

    @media (min-width: $screen-md) {
      position: absolute;
      top: -30px;
    }

    @media (min-width: $screen-xl) {
      max-width: 85%;
    }
  }

  &--big {

    @media (min-width: $screen-md) {
      position: absolute;
      top: -55px;
    }

    @media (max-width: $screen-xl) {
      max-width: 70%;
    }
  }

  &--cross {
    margin-top: 1.4em;
    margin-bottom: 2.85em;

    @media (min-width: $screen-md) {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    hr {
      width: 30px;
      height: 2px;
      background-color: #D3D3D3;
      border: none;
      margin: 0;

      @media (min-width: $screen-md) {
        width: 60px;
      }
    }

    hr:last-child {
      transform: rotate(90deg);
      margin-top: -2px;
    }
  }
}

.item__description {
  margin-bottom: 1.5em;
}

.item__description--good {
  @include col(xs, 6, 12, 0);

  @media (min-width: $screen-md) {
    @include col(md, 12, 12, 0);
    margin-top: 160px;
  }
}

.item__description--more {
  text-align: center;
}

.item__description--extra {
  @media (min-width: $screen-md) {
    display: flex;
  }

  @media (min-width: $screen-xl) {
    flex-basis: 100%;
    margin: 0;
  }
}

.item__title {
  font-size: 1.15rem;
  line-height: 1.25em;
  color: #222;
  text-transform: uppercase;
  margin-bottom: .8em;

  @media (min-width: $screen-md) and (max-width: $screen-xl) {
    max-width: 50%;
  }

  @media (min-width: $screen-md) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.item__title--narrow {
  max-width: 75%;
}

.item__title--extra {
  @media (min-width: $screen-md) {
    white-space: nowrap;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.item__btn {
  font-size: 1.15rem;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 1.3em;
}

.item__btn--extra {
  @media (min-width: $screen-xl) {
    max-width: 245px;
    margin-bottom: 0;
  }
}

.item__data {
  font-size: .85rem;
  line-height: 1.2;
  width: 100%;
}

.item__data--extra {

  @media (min-width: $screen-md) {
    max-width: 290px;
  }
}

.item__text {
  line-height: 18px;
}