-
  var goodData = [
    {
      "img": "img/cat-energy-img/cat01.png",
      "modifier": "item__img--small",
      "title": "Cat Energy PRO 500 г",
      "weight": "500 г",
      "taste": "Курица",
      "price": "700 Р.",
    },
    {
      "img": "img/cat-energy-img/cat02.png",
      "modifier": "item__img--big",
      "title": "Cat Energy PRO 1000 г",
      "weight": "1000 г",
      "taste": "Курица",
      "price": "1000 Р.",
    },
    {
      "img": "img/cat-energy-img/cat03.png",
      "modifier": "item__img--small",
      "title": "Cat Energy PRO 500 г",
      "weight": "500 г",
      "taste": "Рыба",
      "price": "700 Р.",
    },
    {
      "img": "img/cat-energy-img/cat04.png",
      "modifier": "item__img--big",
      "title": "Cat Energy PRO 1000 г",
      "weight": "1000 г",
      "taste": "Рыба",
      "price": "1000 Р.",
    },
    {
      "img": "img/cat-energy-img/cat05.png",
      "modifier": "item__img--small",
      "title": "Cat Energy SLIM 500 г",
      "weight": "500 г",
      "taste": "Гречка",
      "price": "400 Р.",
    },
    {
      "img": "img/cat-energy-img/cat06.png",
      "modifier": "item__img--big",
      "title": "Cat Energy SLIM 1000 г",
      "weight": "1000 г",
      "taste": "Гречка",
      "price": "700 Р.",
    },
    {
      "img": "img/cat-energy-img/cat07.png",
      "modifier": "item__img--small",
      "title": "Cat Energy SLIM 500 г",
      "weight": "500 г",
      "taste": "Рис",
      "price": "500 Р.",
    },
  ]