-
  var goodData = [
    {
      "img": "img/cat-energy-img/cat01.png",
      "title": "Cat Energy PRO 500 г",
      "weight": 500,
      "taste": "Курица",
      "price": "700 Р.",
    },
    {
      "img": "img/cat-energy-img/cat02.png",
      "title": "Cat Energy PRO 1000 г",
      "weight": 1000,
      "taste": "Курица",
      "price": "1000 Р.",
    },
    {
      "img": "img/cat-energy-img/cat03.png",
      "title": "Cat Energy PRO 500 г",
      "weight": 500,
      "taste": "Рыба",
      "price": "700 Р.",
    },
    {
      "img": "img/cat-energy-img/cat04.png",
      "title": "Cat Energy PRO 1000 г",
      "weight": 1000,
      "taste": "Рыба",
      "price": "1000 Р.",
    },
    {
      "img": "img/cat-energy-img/cat05.png",
      "title": "Cat Energy SLIM 500 г",
      "weight": 500,
      "taste": "Гречка",
      "price": "400 Р.",
    },
    {
      "img": "img/cat-energy-img/cat06.png",
      "title": "Cat Energy SLIM 1000 г",
      "weight": 1000,
      "taste": "Гречка",
      "price": "700 Р.",
    },
    {
      "img": "img/cat-energy-img/cat07.png",
      "title": "Cat Energy SLIM 500 г",
      "weight": 500,
      "taste": "Рис",
      "price": "500 Р.",
    },
  ]
  var extraData = [
    {
      "title": "Сахарозаменитель",
      "weight": "1 упаковка (100 г)",
      "price": "200 Р.",
    },
    {
      "title": "Питьевая вода",
      "weight": "5 литров",
      "price": "50 Р.",
    },
    {
      "title": "молоко",
      "weight": "1 литр",
      "price": "100 Р.",
    },
    {
      "title": "витамины",
      "weight": "1 упаковка (30 г)",
      "price": "300 Р.",
    },
  ]