mixin page-header()
  header.page-header
    .page-header__inner
      a.logo.page-header__logo(href="#")
      img.logo-mobile-text(src="img/cat-energy-img/logo-mobile-text.svg" alt="cat energy logo")
      block main-nav
        +main-nav('0')
