.page-header {
  position: relative;
  padding-top: 3.13%;
  padding-bottom: 3.13%;

  @media (min-width: $screen-xl) {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

.page-header__inner {
  @include container();
  display: flex;
  justify-content: space-between;
  align-items: center;
}
