.header {
  position: relative;
  padding-top: 3.13%;
  padding-bottom: 3.13%;
}

.header--index {
  @media (min-width: $screen-xl) {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

.header--default {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $screen-md) {
    border-bottom: none;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
