-
  var mainMenu = [
    {
      "id": "0",
      "name": "главная",
      "url": "#"
    },
    {
      "id": "10",
      "name": "каталог продукции",
      "url": "#",
    },
    {
      "id": "20",
      "name": "подбор программы",
      "url": "#",
    }
  ];
