.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 7.14%;
  background-color: $grey-basic;

  @media (min-width: $screen-md) and (max-width: $screen-xl) {
    display: block;
  }
}

.card__title {
  font-size: 1.5rem;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $screen-md) {
    font-size: 2.25rem;
  }
}

.card__text {
  padding: 1.42em 0;

  @media (max-width: $screen-md - 1) {
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $screen-md) and (max-width: $screen-xl) {
    max-width: 377px;
  }
}

.card__icon-container {
  @include makeSqr(50px);
  margin-right: 7.14%;

  @media (min-width: $screen-md) {
    float: right;
    margin-right: 10px;
    @include makeSqr(200px);
  }

  @media (min-width: $screen-xl) {
    @include makeSqr(100px);
    margin-right: 60px;
    float: none;
  }
}

.card__uppertext {
  display: flex;
  align-items: center;
  color: black;
  line-height: 1em;

  &:active {
    opacity: .3;
  }
}