-
  var cardData = [
    { 'icon_class': 'icon-container__icon--slim',
      'image': "../../../img/cat-energy-img/cat-slim.svg",
      'caption': 'худая кошка',
      'title': 'похудение',
      'description': 'Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.',
      'url': '#',
      'link_text': 'каталог slim',
    },
    {
      'icon_class': 'icon-container__icon--pro',
      'image': '../../../img/cat-energy-img/cat-pro.svg',
      'caption': 'раскачанная кошка',
      'title': 'набор массы',
      'description': 'Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!',
      'url': '#',
      'link_text': 'каталог pro',
    }
  ];