extends pug/layout.pug

block meta
  title Главная
block header
  +page-header()
block content
  main
    section.promo
      .promo__content-wrapper
        .promo__content(id='trigger')
          h1.title.promo__title Функциональное питание для котов
          p.uppertext.promo__uppertext Занялся собой? Займись котом!
          img.promo__image(src='img/cat-energy-img/index-can.png' alt='продукция cat energy pro курица')
          a.link.btn.btn--primary.promo__btn(href="#") подобрать программу
      .promo__background
        .promo__bg-image
    section.goal
      h2.title(hidden) Цель
      ul.list.row
        include blocks/components/card/card.data.pug
        each item in cardData
          li.list__item.col-12.col-xl
            +card(item.icon_class, item.image, item.caption, item.title, item.description, item.url, item.link_text)
    section.advantages
      h2.title.advantages__title Как это работает
      ol.list.row
        include blocks/components/advantage/advantage.data.pug
        each item in advantageData
          li.list__item.list__item--counter.col-12.col-md-6.col-xl
            +advantage(item.icon_class, item.description)
    section.demonstration
      .demonstration__wrapper
        .demonstration__description
          h2.title.demonstration__title Живой пример
          p.text.demonstration__text 
            | Борис сбросил 5 кг за 2 месяца, просто заменив свой 
            | обычный корм на Cat Energy Slim. Отличный результат 
            | без изнуряющих тренировок! При этом он не менял своих 
            | привычек и по-прежнему спит по 16 часов в день.
          .numbers.demonstration__numbers
            .row
              .col-12.col-md-6.col-xl-12
                .numbers__cards
                  fieldset.numbers__item
                    span.uppertext.numbers__number 5 КГ
                    legend.text.numbers__text снижение веса
                  fieldset.numbers__item
                    span.uppertext.numbers__number 60 ДНЕЙ
                    legend.text.numbers__text затрачено времени
              .col-12.col-md-6.col-xl-12 
                .numbers__expenses-container
                  span.uppertext.numbers__uppertext Затраты на питание: 
                  span.uppertext.numbers__uppertext 15 000 РУБ. 
        .demonstration__interactive
          .slider
            .slider__inner
              .slider__slide-wrapper.slider__slide-wrapper--left-side
                .slider__slide.slider__slide--left
              .slider__slide-wrapper.slider__slide-wrapper--right-side
                .slider__slide.slider__slide--right
            .slider__control-box
              span.uppertext.slider__control-text(data-state="after") стало
              input.slider__control(type="range" min="0" max="100" value="50" step="1")
              span.uppertext.slider__control-text(data-state="before") было
    section.contacts
      //пусть пока фоновой пикчей будет
      .container
        .banner.contacts__banner
          p.uppertext.banner__uppertext приглашаем к сотрудничеству дилеров!
          .banner__address
            p.text.banner__text ул. Большая Конюшенная, д. 19/8
            p.text.banner__text Санкт-Петербург
      .map
        .map__inner
          .banner.map__banner
            p.uppertext.banner__uppertext приглашаем к сотрудничеству дилеров!
            .banner__address
              p.text.banner__text ул. Большая Конюшенная, д. 19/8
              p.text.banner__text Санкт-Петербург
block footer
  +page-footer()
