.catalog__title {
  margin-top: .75em;
  margin-bottom: 1em;

  @media (min-width: $screen-md) {
    margin-bottom: 1.5em;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $screen-md - 1) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.catalog__good {
  flex-basis: 100%;
  
  @media (min-width: $screen-md) {
    flex-basis: 46%;
    margin: 4.4em 0;
  }

  @media (min-width: $screen-xl) {
    flex-basis: 22%;
  }
}