.btn {
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.btn--primary {
  color: white;
  padding: .5rem 0;
  background-color: $green-basic;

  &:hover {
    background-color: $green-basic-2;
  }

  &:active {
    color: rgba(255, 255, 255, .3);
  }
}

.btn--grey {
  color: #444444;
  padding: .5rem 0;
  background-color: $grey-basic;

  &:hover {
    background-color: #EBEBEB;
  }

  &:active {
    color: rgba(68, 68, 68, .3);
  }
}